:root {
    --h1-font: 35px;
    --h2-font: 20px;
    --i-font: 20px;
    --img-width: 400px;
    --margin-center: 0 300px;
    --padding-text: 30px;
}

.wrapper {
    margin:  var(--margin-center);
    display: block;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
}

.close {
    opacity: 0;
    transform-origin: 0%;
    transform: translateY(-50%) rotate(0deg);
    transition: all 1s ease;
}

input {
    opacity: 0;
}

.content {
    display: block;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: all 2s ease;
}

input:checked ~ .text h2 {
    color: black;
}

input:checked ~ .text .close {
    transform: translateY(-50%) rotate(315deg);
}

input:checked ~ .content {
    display: block;
    margin-top: 20px;
    max-height: 300px;
}

h1 {
    padding: 20px 0 0 20px;
    color: rgb(9, 255, 0);
    font-size: var(--h1-font);
}

h2 {
    font-size: var(--h2-font);
    padding-left: var(--padding-text);
    color: rgb(255, 0, 247);
    padding-bottom: 10px;
}

hr {
    width: 95%;
}

.content-img {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    transition: all 1s ease-in-out;
    width: var(--img-width);
}

.content-img:active {
    filter: blur(1.5rem);
}

@media (min-width: 320px) {
    :root {
        --h1-font: 20px;
        --h2-font: 15px;
        --i-font: 15px;
        --img-width: 170px;
        --margin-center: 0 30px;
        --padding-text: 10px;
    }
}

@media (min-width: 820px) {
    :root {
        --h1-font: 30px;
        --h2-font: 23px;
        --i-font: 23px;
        --img-width: 300px;
        --margin-center: 0 200px;
        --padding-text: 25px;
    }
}

@media (min-width: 1920px) {
    :root {
        --h1-font: 45px;
        --h2-font: 25px;
        --i-font: 25px;
        --img-width: 400px;
        --margin-center: 0 300px;
        --padding-text: 20px;
    }
}

@media (hover:hover) {
    
    
    .wrapper:hover .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .wrapper:hover h2 {
        color: black;
        flex: 1;
    }
    
    .wrapper:hover .close {
        display: block;
        opacity: 1;
        flex: 0;
        padding-right: var(--padding-text);
        font-size: 25px;
        font-weight: 900;
    }

    .wrapper:hover, label:hover {
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.1);
    }

    input:hover ~ .content {
        display: block;
        margin-top: 20px;
        max-height: 800px;
    }
}