:root {
    --h1-font: 35px;
    --h2-font: 20px;
    --i-font: 20px;
    --img-width: 400px;
    --margin-center: 0 300px;
    --padding-text: 20px;
}

.wrapper {
    margin:  var(--margin-center);
    display: block;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper:hover {
    cursor: pointer;
}

.wrapper:hover label {
    color: black;
    flex: 1;
}

/*.wrapper:hover .text {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper:hover .close {
    display: block;
    flex: 0;
    padding-right: var(--padding-text);
    width: 15px;
}*/

.accordion {

}

.meme-item {
    position: relative;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

label {
    font-size: var(--h2-font);
    padding-left: var(--padding-text);
    color: blue;
}

.content {
    display: none;
    margin: 0 auto;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    width: var(--img-width);
}

input:checked ~ label {
    color: black;
}

input:hover ~ .content {
    display: block;
    margin-top: 20px;
}

input:checked ~ .content {
    display: block;
    margin-top: 20px;
}

h1 {
    padding: 20px 0 0 20px;
    color: blue;
    font-size: var(--h1-font);
}

label {
    font-size: var(--h2-font);
    padding-left: var(--padding-text);
    color: blue;
}

hr {
    width: 95%;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}


img {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    width: var(--img-width);
}


@media (min-width: 320px) {
    :root {
        --h1-font: 20px;
        --h2-font: 15px;
        --i-font: 15px;
        --img-width: 170px;
        --margin-center: 0 30px;
        --padding-text: 10px;
    }
}

@media (min-width: 820px) {
    :root {
        --h1-font: 30px;
        --h2-font: 23px;
        --i-font: 23px;
        --img-width: 300px;
        --margin-center: 0 200px;
        --padding-text: 15px;
    }
}

@media (min-width: 1920px) {
    :root {
        --h1-font: 45px;
        --h2-font: 25px;
        --i-font: 25px;
        --img-width: 400px;
        --margin-center: 0 300px;
        --padding-text: 20px;
    }
}

@media (hover:hover) {
    img:hover {
        transform: scale(1.1);
    }
}